/* Variables */

:root {
    --basic-black:#000000;
    --basic-extra:#283136;
    --basic-white: #ffffff;
    --basic-icon:#E1E1E1;
    --basic-head:#EEEEEE;
    --basic-specional:#666666;
    --basic-land:#666666;
    --basic-footer:#444444;
  }