/* Variables */

:root {
  --basic-black:#000000;
  --basic-extra:#283136;
  --basic-white: #ffffff;
  --basic-icon:#E1E1E1;
  --basic-head:#EEEEEE;
  --basic-specional:#666666;
  --basic-land:#666666;
  --basic-footer:#444444;
  }

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}








