/* Variables */

:root {
  --basic-black:#000000;
  --basic-extra:#283136;
  --basic-white: #ffffff;
  --basic-icon:#E1E1E1;
  --basic-head:#EEEEEE;
  --basic-specional:#666666;
  --basic-land:#666666;
  --basic-footer:#444444;
  --basic-nav:#FB565A;
  --basic-butleft:#FB565A;
  --basic-butlefthover:#E74246;
  --basic-butleftfocus:#D7373B;
  --basic-butcenter:#00CA74;
  --basic-butcenterhover:#00BC6C;
  --basic-butcenterfocus:#00AA62;
  --basic-butright:#EFC849;
  --basic-bitrighthover:#EAB534;
  --basic-butrightfocus:#E5A722;
  --basic-butfilterhover:#DFDFDF;
  --basic-butfilterclick:#D5D5D5;

  }

/* Global */

.page-body{

  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*grid*/

.page {
  height: 100%;
}

/*container*/

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 5px;
}

/*flex*/


/* Main navigation */
/*
.main-header .container {
  display: flex;
  justify-content: space-between;
}*/

.main-header{
  height: 114px;
  display: flex;

  justify-content: space-between;
}

.main-navigation {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-head);
  text-transform: uppercase;
}
.site-navigation {
  width: 351px;
  height: 50px;
  margin-left: 202px;
  display: flex;
  list-style: none;
  font-weight: normal;
  margin-top: 50px;
  padding: 0;
  width: 500px;
}
.site-navigation li{
  margin-right: 45px;
}
.basket-link{
  display: flex;
  width: 125px;
  height: 30px;
  margin-left: 246px;
  margin-top: 50px;
 }

.main-header-logo{
  margin-left: 140px;
  width: 160px;
  height: 65px;
  margin-top: 25px;

}
/* User navigation */


.site-navigation a,
.basket-link a{
  color: var(--basic-black);
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-link a:hover,
.basket-link a:focus{
  color: var(--basic-nav);
  font-weight: 500;
}

.site-navigation a:active,
.basket-link a:active {
  color: var(--basic-black);
  text-decoration: underline var(--basic-nav);
  font-weight: 500;
}
.catalog-active{
  color: var(--basic-black);
  text-decoration: underline var(--basic-nav);
  font-weight: 500;
}

/*sliders*/

.sliders .container{
  display: flex;
  justify-content: space-between;


}
.sliders{
  margin: 0;
  padding: 0;

  margin-bottom: 80px;
}
.text-slider{
  background: var(--basic-head);
  width: 695px;

}
.text-slider h1{
  color: var(--basic-black);
  margin-left: 140px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
  text-transform: none;
}
.text-slider p{
  color: var(--basic-extra);
  margin-left: 140px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: none;
  margin-bottom: 38px;
}
.text-slider a{
  margin-left: 140px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  color: var(--basic-white);
  background: var(--basic-nav);
  border-radius: 3px;
  padding: 17px 54px 15px 54px;
  text-transform: uppercase;
}
.text-slider a:hover{
  background-color:var(--basic-butlefthover);
  font-weight: 500;
}
.text-slider a:focus{
  color:rgba(255,255,255, 0.3);
  background-color:var(--basic-butleftfocus);
  font-weight: 500;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.img-slider{
  margin: 0;
  padding: 0;
  width: 760px;

  background: var(--basic-head);
}
/*magazine-head*/

.magazine-head{
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-transform:none;

}
.magazine-block{
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  padding-bottom: 108px;
  padding-left: 357px;
  padding-right: 356px;
  background: var(--basic-head);
  width: 727px;
  margin-bottom: 55px;

}

/*grid catalog*/



.page-catalog {
  display: grid;
  grid-template-columns: 30% 35% 35%;

}

.page-catalog .productfilter{
  grid-column: 1 / 1;

}
.page-catalog .filterfeatures{
  grid-column: 2 / -1;

}

.page-catalog .layouts{
  grid-column: 2 / -1;

}
.page-catalog .contacts{
  grid-column:1 / -1;
}

/*productfilter*/

.productfilter{
  margin-right: 10px;
  padding-left: 140px;
  margin-top: -80px;
}

.filter legend {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--basic-black);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter-option{
  margin-top: 20px;
}

.filter ul {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:var(--basic-extra);
}
.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.3;
}

.filter-button{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background:var(--basic-head);
  border: none;
  text-transform: uppercase;
  padding: 17px 89px 15px 88px;
}
.filter-button:hover{
  background: var(--basic-butfilterhover);
}
.filter-button:active{
  opacity: 0.3;
  background: var(--basic-butfilterclick);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.range {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

/*filterfeatures*/

.filterfeatures{

  display: flex;
  padding-left: 70px;
  margin-left: 50px;
}

.filterfeatures h2{

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filterfeatures-list{
  list-style: none;
  display: flex;
  height: 61px;
  width: 350px;
}

.filterfeatures-left{
  width: 134px;
  padding-right: 266px;
}

.filterfeatures-item {
  margin-right: 35px;
}


.filterfeatures-item a{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
}

.filterfeatures-item a:hover{
  opacity: 0.6;
}
.filterfeatures-item a:active{
  color: var(--basic-black);
  opacity: 1;
}

/*layouts*/

.layouts{

}

.layouts-list{
  list-style: none;
  display: grid;
  grid-template-columns:360px 360px;
  gap:80px;
  margin-left: 80px;
  width: min-content;
  margin-bottom: 55px;
}

.layouts-list li{

}
.layouts-item{
  height: 800px;
  background: var(--basic-head);

}

.layouts-item a{
  height: 347px;
}

.layouts-list h3{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}
.layouts-item p{
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-specional);
  text-align: center;
  padding-bottom: 32px;
}
.button-cont{
  margin-left: 80px;
  margin-right: 80px;
}
.button-sedona{
  padding: 17px 72px 15px 72px;
  color: var(--basic-white);
  background: var(--basic-butleft);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.button-sedona:hover{
  background:var(--basic-butlefthover);
}
.button-sedona:focus{
  background:var(--basic-butleftfocus);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*.pagination */

.pagination-list {
  height: 60px;
  display: flex;
  list-style: none;
}

.pagination-item{
  margin: 0;
  width: 50px;
  height: 50px;
  margin-right: 11px;

}


.pagination-item a{

  padding: 17px 20px 15px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-head);
  border-radius: 3px;
}

.pagination-item-next a{
  padding: 17px 77px 15px 78px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background: var(--basic-head);
  border-radius: 3px;
}

.pagination-item-next a:hover{
  background: var(--basic-butfilterhover);
}
.pagination-item-next a:focus,
.pagination-item-next a:active{
  background:var( --basic-butfilterclick);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}



.pagination-item a:hover{
  background: var(--basic-butfilterhover);
}
.pagination-item a:focus,
.pagination-item a:active{
  background:var( --basic-butfilterclick);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.pagination-item-current {
  margin-left: 80px;
  margin-right: 11px;
  width: 50px;
  height: 50px;
}

.pagination-item-current a{
  padding: 14px 16px 11px 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  background:var(--basic-white);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}


.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background:var(--basic-white);
  border: 3px solid #DBDBDB;
  box-sizing: border-box;
  border-radius: 3px;
}

/* opportunities */

.opportunities{
  margin-bottom: 80px;
  margin-left: 100px;
}

.opportunities-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:0px;
  margin: 0;
  margin-left: 35px;
  margin-right: 120px;
  padding: 0;
  background-color: var(--basic-white);


}

.opportunities-item {
  text-align: left;

}
.opportunities-item h2{
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.opportunities-item p{
  color: var(--basic-extra);
  padding-bottom: 13px;
}

.button-left {
  padding: 17px 40px 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-butleft);
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}
.button-left:hover{
    background-color:var(--basic-butlefthover);
    font-weight: 500;
}
.button-left:focus{
  color:rgba(255,255,255, 0.3);
  background-color:var(--basic-butleftfocus);
  font-weight: 500;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-center {
  text-transform: uppercase;
  padding: 17px 40px 15px 39px;
  font-weight: 500;
  color: var(--basic-white);
  background-color: var(--basic-butcenter);
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}
.button-center:hover{
    background-color:var(--basic-butcenterhover);
    font-weight: 500;
}
.button-center:focus{
  color:rgba(255,255,255, 0.3);
  background-color:var(--basic-butcenterfocus);
  font-weight: 500;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-right {
  text-transform: uppercase;
  padding: 17px 40px 15px 39px;
  color: var(--basic-white);
  background-color: var(--basic-butright);
  line-height: 18px;
  text-align: center;
  font-weight: 500;
  border-radius: 3px;
}
.button-right:hover{
    background-color:var(--basic-bitrighthover);
    font-weight: 500;
}
.button-right:focus{
  color:rgba(255,255,255, 0.3);
  background-color:var(--basic-butrightfocus);
  font-weight: 500;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*presentation*/

.presentation{
  margin: 0;
  padding: 0;
}

.presentation h1{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.presentation h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;;
}
.presentation p{
  text-align: left;
  color: var(--basic-extra);
  margin-bottom: 35px;
}

.presentation-list{
  color: var(--basic-extra);
  list-style: none;
  list-style-position: outside;

}
.presentation-item{
  background: url("../img/marker.svg") no-repeat left center;
  padding-left: 40px;
  margin-bottom: 15px;
}

/*features*/
.features{
  margin-right: 90px;
}

.feature-item{


}
.feature-item td{
  padding-right: 12px;
}

.features h3{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.features-list th{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-align: left;
  color: var(--basic-black);

}
.features-list sup{
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
}

.features-list tr:last-child{
  color: var(--basic-extra);
  text-align: left;
  line-height: 18px;
}

.pfcontainer{

  display: grid;
  grid-template-columns: 55% 45%;
  gap: 90px;
  margin-left: 100px;

}


/*partners*/

.partners{
  margin: 30px 100px 30px 100px;
}

.partners-list {

  list-style: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

/*footer*/

.main-footer{


}

.social-list{
  list-style: none;
  text-transform: uppercase;
}
.social-list a{
  color: var(--basic-black);
}
.discounts h2{
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  font-weight: bold;

}
.discounts p{
  text-align: left;
  color: var(--basic-footer);
}
.main-footer .container {
  display: grid;
  grid-template-columns: 35% 1fr;
}
